Web servers: Nginx, Apache, uWSGI.

Data stores/tools: PostgreSQL, SQL, Redis, MongoDB

Tools: Virtualenv, Ansible, Selenium, celery, jenkins, git

Async: Twisted, asyncio.

Virtualization: AWS, VirtualBox, Docker.

**************************************************************************************

Extensive experience with one of the following - Python / Django / Flask/ Tornado or other Python frameworks

Extensive experience with MySQL/ PostgreSQL Database

Knowledge of some ORM (Object Relational Mapper) libraries

Understanding of server-side templating languages such as Jinja 2, Mako, etc

Version Control - Git

Obsessed about code clarity and writing DRY
Strong understanding of Object Oriented Concepts 

Experience with HTML5, CSS3, JavaScript

*****************************************************************************************

Solid grasp over Python and Django

Proficient in REST, Scalability, TDD/BDD, Git, Linux and Mysql

Comfortable with frontend development with HTML, Javascript and CSS.
(Frontend framework like React/Angular is a plus)

*****************************************************************************************

Strong Experience in Python development using Flask, Django, etc.

Experience in working with data-driven RESTful APIs

Experience on various Python libraries like PySpark, Pandas, Numpy, etc.

Proficiency in big data technologies and its application, good to any Hive, Spark, Kafka, etc.

Familiarity with event-driven programming in Python

Understanding of the threading limitations of Python, and multi-process architecture

Familiarity with some ORM (Object Relational Mapper) libraries

Good understanding of Test Driven Development - Unit and Integration testing

Proficient understanding of code versioning tools (such as Git, Mercurial or SVN)

Strong knowledge of design patterns

Advanced knowledge of agile methodology

****************************************************************************************

BS/MS degree  or a related field
Expert in Python, with knowledge of at least one Python web framework {such as Django, Flask, etc depending on your technology stack}
Familiarity with some ORM (Object Relational Mapper) libraries
Able to integrate multiple data sources and databases into one system
Understanding of the threading limitations of Python, and multi-process architecture
Good understanding of server-side templating languages {such as Jinja 2, Mako, etc depending on your technology stack}
Basic understanding of front-end technologies, such as JavaScript, HTML5, and CSS3
Understanding of accessibility and security compliance {{depending on the specific project}}
Knowledge of user authentication and authorization between multiple systems, servers, and environments
Understanding of fundamental design principles behind a scalable application
Familiarity with event-driven programming in Python
Understanding of the differences between multiple delivery platforms, such as mobile vs desktop, and optimizing output to match the specific platform
Able to create database schemas that represent and support business processes
Strong unit test and debugging skills
Proficient understanding of code versioning tools {such as Git, Mercurial or SVN}

******************************************************************************************
 2+ years industry experience
Technical Expertise: Python, Django, REST, MySQL/PostgreSQL, Linux/Unix.
Sound Problem Solving Skills
Experience in opensource libraries such as Pandas, GraphQL, NumPy, D3.js
Understanding and exposure to data structures, design patterns, design and architecture of web-based applications
 

A Big plus:

 Knowledge on HTML and JavaScript
Experience in Django application integration with other UI frameworks such as React or Angular
Experience in working with AWS, GCP or similar cloud stack.
Experience in design and development of micro services based architectures